#main-galleria{
    display: flex;
    align-content: center;
    
    }

    .galleria{
        margin:0 auto;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        width: 70%;
    }
    .elemento-galleria{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    padding:20px;
    border: solid 4px #1F2839;
    background-color: #00FF90;
    margin:10px 10px;
    transition: all 500ms;
    cursor:zoom-in;
    }

    .elemento_galleria img{
        box-sizing: border-box;
        border: solid 4px #1f2836;
        width: 100%;
    }

    .elemento_galleria:hover{
        transform: scale(1.05);
        opacity: 0.8;
    }
    .elemento_galleria:active{
        transform: scale(2);
        background-color:#1f283600;
        opacity:1;
        border:none;
        cursor:zoom-out;
    }