@import url(normalize.css);
@import url(header.css);
@import url(footer.css);
@import url(gallery.css);

/*** IMPOSTAZIONI GENERALE ***/
html{
    font-size:  62.5%; /*IMPOSTA LA SIZE DI TUTTI I FONT A 10PX*/
}

a {
    text-decoration: none;
}

body{
background-color: #22292F;
font-family: 'Open Sans', sans-serif;
font-size:1.7rem;
}

main{
    min-height: calc(100vh - 100px);
    padding-top:150px;
}
/*** HOMEPAGE - INDEX.HTML ***/

#zona_principale{
    margin:0 auto;
    width:90%;
    padding-top:50px;
    display:block;
    padding-bottom:100px;

}
.titolo-verde h1{
    color:#00FF90;
    font-size: 4rem;
    text-align:center;
    text-transform: uppercase;
}
.sottotitolo{
    color:white;
    font-size:3rem;
    text-align: center;
}
/*** FORM CSS ***/
.main-form{
    text-align: center;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    background-color: #1f2839;
    padding-bottom:10px;
}
.mainf-form form{
    width:90%;
    background-color: #0C1822;
    box-sizing: border-box;
    padding:10px;
}

fieldset{
 border:none;
}

.main-form label{
    font-size:1.7rem;
    color:white;
}

.form-button{
    font-size: 1.8rem;
    color:#1f2839;
    padding:15px 60px;
    background-color: #00FF90;
}

/*** ZONA SECONDARIA ***/
#zona_secondaria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#593DD5;
    width:100%;
    padding-bottom:20px;
}
.titolo-secondario{
    color:white;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    font-size:20px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.item{
    display: inline-block;
    text-align: center;
    background-color:#1f2839;
    box-sizing: border-box;
    margin:20px;
    justify-content: center;
}
.item:hover{
    box-shadow: 0 0 50px white;
}
.numero{
    color:white;
    font-size:4rem;
}
.sub-title-item{
    text-transform: uppercase;
    color:#00FF90;
    font-size:1.7rem;
}
/*** ZONA TERZIARIA ***/
#zona_terziaria{
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    position:sticky;
    height:50px;
    background-color:#00FF90;
    width:100%;
    text-align: center;
}
.titolo-blu{
    font-size:1rem;
    margin:0;
    padding:0;
}